html {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden; /* prevent horizontal scroll */
  max-width: 100vw;
}

body {
  min-height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden; /* prevent horizontal scroll */
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden; /* prevent horizontal scroll */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
